nav {
    background-color: #ccc;
    width: fit-content;
}

ul {
    padding: 0;
}

ul li {
    position: relative;
    list-style: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}

#menu-1>li+li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: red;
    z-index: 2;
}

#menu-1 {
    display: flex;
}

#menu-2 {
    display: none;
    width: 250px;
    position: absolute;
    top: 100%;
    left: 1px;
    background-color: #ccc;
    border: 1px solid #adacac;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#menu-1>li:hover #menu-2 {
    display: block;
}

ul li:hover,
ul li a:hover {
    background-color: green;
    color: #fff;
}