nav {
    background-color: #fff;
    width: fit-content;
    margin: auto;
}

ul {
    width: 200px;
    padding: 0;
    border: 2px solid #000;
}

ul li {
    list-style: none;
    border-bottom: 1px solid red;
    padding: 10px 20px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

i {
    float: right;
    color: #fff;
}

.menu-1 {
    background: #fff !important;
    color: #000 !important;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

ul li:hover,
ul li a:hover {
    color: #fff;
    background-color: red;
}